iframe {
    display: block;
    margin: auto;
}
.hover1 {
    position: absolute;
    top: 70px;
    left: 374px;
    width: 450px;
    height: 92px;
    background: #efefef;
}

.hover1 div {
    text-align: center;
    padding-top: 0.6em;
    font-size: 2em;
}

.hover2 {
    position: absolute;
    top: 320px;
    left: 374px;
    width: 450px;
    height: 50px;
    background: #f7df34;
}

.hover3 {
    position: absolute;
    top: 520px;
    left: 374px;
    width: 450px;
    height: 50px;
    background: #efefef;
    text-align: center;
}