/*variables*/
/* Common classes and settings */
.mdl-card__media {
  background: inherit;
}
.mdl-card__supporting-text {
  color: rgba(0,0,0,0.74);
}
.lanks-link--no-style {
  text-decoration: none;
  color: inherit;
}
.lanks-link--accent {
  text-decoration: none;
  color: #40c4ff;
}
.lanks-link--accent:hover {
  text-decoration: underline;
}
.lanks-link--main {
  text-decoration: none;
  color: #607d8b;
}
.lanks-link--main:hover {
  text-decoration: underline;
}
.lanks-button--accent {
  color: #fff;
  background: #40c4ff;
}
.lanks-button--accent:hover {
  background: #40c4ff;
}
.lanks-button--main {
  color: #fff;
  background: #607d8b;
}
.lanks-button--main:hover {
  background: #607d8b;
}
.lanks-icon__centered {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #40c4ff;
}
.lanks-icon__centered .material-icons {
  font-size: 48px;
}
.portfolio-max-width {
  max-width: 900px;
  margin: auto;
}
.title_container {
  width: 100%;
  height: 64px;
  background: #607d8b;
}
.title_container h2 {
  float: left;
  height: 64px;
  line-height: 64px;
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 20px;
  margin-left: 50px;
}
.no-padding {
  padding: 0;
}
.no-margin {
  margin: 0;
}
.vex-dialog-message {
  text-align: justify;
}
/* Header and menu */
.is-active {
  position: relative;
  font-weight: bold;
}
.mdl-layout--large-screen-only .is-active {
  border-bottom: 2px solid #40c4ff;
}
.mdl-layout--small-screen-only .is-active {
  border-left: 2px solid #40c4ff;
  border-right: 2px solid #40c4ff;
}
.portfolio-blog-card-bg > .mdl-card__actions {
  height: 52px;
  padding: 16px;
  background: rgba(0,0,0,0.2);
}
img.article-image {
  width: 100%;
  height: auto;
}
.portfolio-contact .mdl-textfield {
  width: 100%;
}
.portfolio-contact form {
  max-width: 550px;
  margin: auto;
}
.mdl-grid.portfolio-copy {
  max-width: 800px;
}
.mdl-textfield.is-focused .mdl-textfield__input {
  border-bottom: 2px solid #40c4ff !important;
}
.mdl-cell.mdl-cell--12-col.title_h {
  font-size: 18px;
  color: #000;
}
.mdl-cell.mdl-cell--12-col.tit_t {
  font-size: 16px;
  box-sizing: border-box;
  padding-left: 5%;
  margin-top: 20px;
}
.mdl-cell.title_h {
  position: relative;
  font-size: 24px !important;
  margin-top: 25px;
}
/******************************** contact-menu ********************************************/
.contact-menu {
  position: relative;
  z-index: 2;
}
.contact-menu .contact-controls {
  float: right;
  display: inline-block;
  margin-top: -33px;
  background: #36a7d9;
  cursor: pointer;
}
.contact-menu .contact-controls button {
  position: relative;
  left: -28px;
  width: 66px;
  height: 66px;
  color: #415964;
  background: #40c4ff;
  transition: color 0.3s;
}
.contact-menu .contact-controls button:hover {
  background: #40c4ff;
}
.contact-menu .contact-controls .arrow-down {
  position: relative;
  top: 6px;
  padding: 0 15px;
  transition: color 0.3s;
}
.contact-menu .contact-controls:hover button {
  color: #fff;
}
.contact-menu .contact-controls:hover .arrow-down {
  color: #fff;
}
.contact-menu .contact-info {
  display: none;
  position: absolute;
  background: #40c4ff;
  width: 100%;
  padding: 0;
}
.contact-menu .contact-info .contact-menu-close {
  position: absolute;
  right: 0;
  cursor: pointer;
  padding: 10px;
  transition: color 0.3s;
}
.contact-menu .contact-info .contact-menu-close:hover {
  color: #fff;
}
.contact-menu .contact-info .icon-holder {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact-menu .contact-info .icon-holder i {
  font-size: 3em;
  color: #607d8b;
}
.contact-menu .contact-info .info-holder .mdl-grid {
  text-align: center;
}
.contact-menu .contact-info .info-holder .mdl-grid .mdl-cell--12-col {
  font-size: 125%;
  padding-bottom: 5px;
  border-bottom: 1px solid #607d8b;
}
.contact-menu .contact-info .info-holder .mdl-grid .mdl-cell--4-col .mdl-button {
  color: #fff;
  background: #607d8b;
}
/******************************** template ********************************************/
.portfolio-header {
  position: relative;
  background: url("../images/template/header-bg.jpg") no-repeat top center;
}
.portfolio-header .mdl-layout__header-row {
  padding: 0;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.mdl-layout__title {
  font-size: 14px;
  text-align: center;
  font-weight: 300;
}
.mdl-layout__header-row .mdl-navigation__link {
  font-size: 13px;
}
.is-compact .mdl-layout__title span {
  display: none;
}
.portfolio-logo-row {
  min-height: 200px;
}
.is-compact .portfolio-logo-row {
  min-height: inherit;
}
.portfolio-logo {
  background: url("../images/template/lanks-logo.svg") 50% no-repeat;
  background-size: contain;
  height: 120px;
  width: 176px;
  margin: auto auto 10px;
}
.is-compact .portfolio-logo {
  background: url("../images/template/lanks-logo-mini.svg") 50% no-repeat;
  background-size: contain;
  height: 43px;
  width: 65px;
  margin-top: 7px;
}
.portfolio-navigation-row {
  background-color: rgba(255,255,255,0.4);
  text-transform: uppercase;
  height: 45px;
}
.portfolio-navigation-row .mdl-navigation {
  text-align: center;
  max-width: 900px;
  width: 100%;
}
.portfolio-navigation-row .mdl-navigation__link {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  line-height: 42px;
}
.portfolio-header .mdl-layout__drawer-button {
  background-color: rgba(197,197,197,0.44);
}
/* Footer */
.mdl-mini-footer {
  background-color: #455a63;
  padding: 10px 0;
}
.mdl-mini-footer .mdl-grid {
  position: relative;
  width: 100%;
  max-width: 900px;
  margin: auto;
  align-items: center;
}
.mdl-mini-footer .mdl-grid .contact div {
  color: #fff;
}
.mdl-mini-footer .mdl-grid .contact button {
  background: #607d8b;
}
.mdl-mini-footer .mdl-grid .social ul {
  padding: 0;
  margin: 0;
}
.mdl-mini-footer .mdl-grid .social ul li {
  display: inline-block;
  width: 30px;
  height: 30px;
  margin: 5px;
  border-radius: 5px;
  background-image: url("../images/template/social.png");
  background-repeat: no-repeat;
}
.mdl-mini-footer .mdl-grid .social ul li a {
  display: block;
  width: 100%;
  height: 100%;
}
.mdl-mini-footer .mdl-grid .social ul li.vk {
  background-position: 0 0;
}
.mdl-mini-footer .mdl-grid .social ul li.ok {
  background-position: -60px 0;
}
.mdl-mini-footer .mdl-grid .social ul li.f {
  background-position: -90px 0;
}
.mdl-mini-footer .mdl-grid .legal >span {
  position: relative;
  display: inline-block;
  color: #697b83;
  line-height: 1.5em;
  text-align: left;
}
.mdl-mini-footer .mdl-grid .legal >span span {
  padding-right: 80px;
  background: url("../images/template/cruelten.png") no-repeat bottom right;
}
.mdl-mini-footer .price-request-button {
  position: fixed;
  display: block;
  right: 40px;
  bottom: 20px;
  z-index: 3;
  max-width: 200px;
  height: auto;
  line-height: 1.2em;
  box-sizing: border-box;
  padding: 8px;
}
@media only screen and (max-width: 480px) {
  .mdl-mini-footer .price-request-button {
    position: relative;
    margin: auto;
    right: auto;
    bottom: auto;
  }
}
