/*variables*/
main-color = #607d8b
accent-color = #40c4ff

/* Common classes and settings */

.justify-content--space-around
  justify-content space-around

.mdl-card__media
  background inherit

.mdl-card__supporting-text
  color rgba(0,0,0,0.74)

.lanks-link--no-style
  text-decoration none
  color inherit

.lanks-link--accent
  text-decoration none
  color accent-color
.lanks-link--accent:hover
  text-decoration underline

.lanks-link--main
  text-decoration none
  color main-color
.lanks-link--main:hover
  text-decoration underline

.lanks-button--accent
  color white
  background accent-color
.lanks-button--accent:hover
  background accent-color

.lanks-button--main
  color white
  background main-color
.lanks-button--main:hover
  background main-color

.lanks-icon__centered
  display flex
  align-items center
  justify-content center
  color #40c4ff
  .material-icons
    font-size 48px

.portfolio-max-width
  max-width 900px
  margin auto

.title_container
  width 100%
  height 64px
  background main-color
  h2
    float left
    height 64px
    line-height 64px
    padding 0
    margin 0
    color #fff
    font-size 20px
    margin-left 50px

.no-padding
  padding 0

.no-margin
  margin 0

.vex-dialog-message
  text-align justify

/* Header and menu */

.is-active
  position relative
  font-weight bold
.mdl-layout--large-screen-only .is-active
  border-bottom 2px solid accent-color
.mdl-layout--small-screen-only .is-active
  border-left 2px solid accent-color
  border-right 2px solid accent-color


.portfolio-blog-card-bg > .mdl-card__actions
  height 52px
  padding 16px
  background rgba(0, 0, 0, 0.2)





img.article-image
  width 100%
  height auto


.portfolio-contact .mdl-textfield 
  width 100%


.portfolio-contact form 
  max-width 550px
  margin auto

.mdl-grid.portfolio-copy
  max-width 800px


.mdl-textfield.is-focused .mdl-textfield__input
  border-bottom 2px solid #40c4ff !important

/******************************** contact-menu ********************************************/
.contact-menu
  position relative
  z-index 2
  .contact-controls
    float right
    display inline-block
    margin-top -33px
    background #36a7d9
    cursor pointer
    button
      position relative
      left -28px
      width 66px
      height 66px
      color #415964
      background accent-color
      transition color 0.3s
    button:hover
      background accent-color
    .arrow-down
      position relative
      top 6px
      padding 0 15px
      transition color 0.3s
  .contact-controls:hover
    button
      color white
    .arrow-down
      color white
  .contact-info
    display none
    position absolute
    background accent-color
    width 100%
    padding 0
    .contact-menu-close
      position absolute
      right 0
      cursor pointer
      padding 10px
      transition color 0.3s
    .contact-menu-close:hover
      color white
    .icon-holder
      display flex
      align-items center
      justify-content center
      i
        font-size 3em
        color main-color
    .info-holder
      .mdl-grid
        text-align center
        .mdl-cell--12-col
          font-size 125%
          padding-bottom 5px
          border-bottom 1px solid main-color
        .mdl-cell--4-col
          .mdl-button
            color white
            background main-color
@media only screen and (max-width: 480px)
  .contact-menu
    .contact-controls
      background none



/******************************** template ********************************************/
.portfolio-header
  position relative
  background url(../images/template/header-bg.jpg) no-repeat top center

.portfolio-header .mdl-layout__header-row
  padding 0
  -webkit-justify-content center
  -ms-flex-pack center
  justify-content center

.mdl-layout__title
  font-size 14px
  text-align center
  font-weight 300

.mdl-layout__header-row .mdl-navigation__link
  font-size 13px


.is-compact .mdl-layout__title span
  display none

.portfolio-logo-row
  min-height 200px


.is-compact .portfolio-logo-row
  min-height inherit


.header-image-small
  display none

.is-compact .header-image-small
  display block
  max-height 50px
  max-width 75px

.is-compact .header-image
  display none

.portfolio-navigation-row
  background-color rgba(255, 255, 255, 0.4)
  text-transform uppercase
  height 45px

.portfolio-navigation-row  .mdl-navigation
  text-align center
  max-width 900px
  width 100%

.portfolio-navigation-row .mdl-navigation__link
  -webkit-flex 1
  -ms-flex 1
  flex 1
  line-height 42px

.portfolio-header .mdl-layout__drawer-button
  background-color rgba(197, 197, 197, 0.44)

/* Footer */

.mdl-mini-footer
  background-color #455a63
  padding 10px 0
  .mdl-grid
    position relative
    width 100%
    max-width 900px
    margin auto
    align-items center
    .contact
      div
        color white
      button
        background main-color
    .social
      ul
        padding 0
        margin 0
        li
          display inline-block
          width 30px
          height 30px
          margin 5px
          border-radius 5px
          background-image url(../images/template/social.png)
          background-repeat no-repeat
          a
            display block
            width 100%
            height 100%
        li.vk
          background-position 0 0
        li.ok
          background-position -60px 0
        li.f
          background-position -90px 0
    .legal
      >span
        position relative
        display inline-block
        color #697b83
        line-height 1.5em
        text-align left
        span
          padding-right 80px
          background url(../images/template/cruelten.png) no-repeat bottom right
  .price-request-button
    position fixed
    display block
    right 40px
    bottom 20px
    z-index 3
    max-width 200px
    height auto
    line-height 1.2em
    box-sizing border-box
    padding 8px

@media only screen and (max-width: 480px)
  .mdl-mini-footer
    .price-request-button
      position relative
      margin auto
      right auto
      bottom auto

/* Dialogs */
#contact-dialog-form, #complain-dialog-form
  select
    display block
    width 100%
    height 3.5em