<h3>Дополнительная информация.</h3>
<p>Обращаем внимание, что Санкт-Петербургский филиал ООО "Ланкс" оказывает так же следующие услуги:</p>
<ul>
    <li><a href="for_download/other_prices/Прайс по Северо-Западу.xlsx">Грузоперевозки по городам Северо-Западного Федерального Округа</a></li>
    <li><a href="for_download/other_prices/Тарифы на терминальную обработку в Санкт-Петербурге.xlsx">Работа с терминалами в Санкт-Петербурге</a></li>
    <li><a href="for_download/sborni_gruz_prices/Прайс из города Мурманск.xls">Перевозка грузов ИЗ города Мурманск по городам России</a></li>
    <li><a href="for_download/sborni_gruz_prices/Прайс в Мурманск.xls">Перевозка грузов В город Мурманск из городам России</a></li>
</ul>
<div class="align_center" >
<img src="pages/departments/departments/proezd_office_spb.png" />
<img src="pages/departments/departments/proezd_sklad_spb.png" />
</div>
