.city-navigation-link {
  text-decoration: inherit;
}
.city-navigation-link strong {
  color: rgba(0,0,0,0.74);
  font-size: 1.2em;
}
.city-navigation-link:hover {
  color: inherit;
  text-decoration: underline;
}
.city-navigation-link:hover .mdl-list__item {
  cursor: pointer;
  background: #f1f1f1;
}
/* single department */
h3 {
  font-size: 16px;
  color: #000;
  padding-top: 20px;
}
h6 {
  color: #000;
}
#map {
  float: left;
  width: 100%;
  margin-top: 20px;
}
