.mdl-grid.portfolio-max-width.portfolio-contact.in_city
  width 100%
  height 220px

.city-navigation-link
  text-decoration inherit

.city-navigation-link:hover
  color inherit
  text-decoration underline