#content
  .albumCaption
    display inline-block
    vertical-align top
    width 190px
    text-align center
    img, p
      cursor pointer
    p
      text-indent 0
      text-align center
  .albumContent
    text-align center
    display none