#content .albumCaption {
  display: inline-block;
  vertical-align: top;
  width: 190px;
  text-align: center;
}
#content .albumCaption img,
#content .albumCaption p {
  cursor: pointer;
}
#content .albumCaption p {
  text-indent: 0;
  text-align: center;
}
#content .albumContent {
  text-align: center;
  display: none;
}
