h2, h3 {
    text-align: center;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    color: #222222;
    text-align: justify;
    text-indent: 2pc;
}
.right {
    float: right;
    margin-left: 10px;
    border-radius: 15px;
}
.left {
    float: left;
    margin-right: 10px;
    border-radius: 15px;
}
#company_gallery {
    float: right;
    margin-top: -0.6em;
    text-align: center;

}
ul {
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    color: #222222;
}
.lanks_letters {
    color: blue;
    font-weight: bold;
}