#departments_list
  a
    color #000000
    text-decoration none
    display inline-block
    border 1px solid #000000
    padding-top 6pt
    margin 8pt
    text-align center
    min-width 140px
    height 200px
    background #80b8dd
    border-radius 10pt
    strong
      font-size 11pt
    img
      display block
      margin 5pt auto
      height 100px
      max-width 100px
    address
      text-decoration underline
      color blue
  a:hover
    background #36aeda
.greenText
  color blue
.departmentHeader
  display inline-block
.cityEmblem
  float right
  max-height 55px
  padding 5pt
#map_wrapper
  float right


.editing
  input
    width  30em
