.intro
  height 220px
  #introContent
    background #f0f8ff
    border solid #6495ed 1px
    border-radius 10px
    display inline-block
    width 66%
    height 100%
  aside
    background #f0f8ff
    float: right
    display inline-block
    width: 32%;
    height 100%
    text-align center
    border solid #6495ed 1px
    border-radius 10px
    h4
      margin 5pt 0 5pt 0
    #phoneNum
      margin 5pt
      font-weight bold
#services
  height 420px
  text-align center
  margin 10px 0
  .serviceContainer
    background #f0f8ff
    float left
    height 100%
    width: 32%;
    text-align center
    border solid #6495ed 1px
    border-radius 10px
    h4
      margin 5pt
    hr
      border 0
      border-top 1px solid #6495ed
  .serviceContainer:nth-child(2)
    margin 0 20px
#clients
  height 210px
  text-align center
  background #f0f8ff
  border solid #6495ed 1px
  border-radius 10px
  img:first-child
    float left
    margin-left 20px
  img:last-child
    float right
    margin-right 20px
#additional
  height 250px
  text-align center
  background #f0f8ff
  border solid #6495ed 1px
  border-radius 10px
  margin 10px 0
  padding-bottom 10px
  h4
    margin 5pt
    height 2em
  .additionalContainer
    float left
    height 100%
    width: 20%;
    text-align center


footer
  clear right
  p:last-child
    text-align right
    color #000000


#main_announce
  float right
  width 250px
  margin 0 0 0 20px
  padding 5pt
  border solid #6495ed 1px
  border-radius 10px
  text-align center
#calculatorControls
  float left
  width 250px
  padding  5pt
  border solid #6495ed 1px
  border-radius 10px
  margin 0 20px 0 0
  select
    width 90%