ul
  list-style none
  padding 0
li, .singleNews
  overflow hidden
  border 1px #6495ed solid
  border-radius 10px
  padding 0 1em 1em 1em
  background #f0f8ff
  margin-bottom 1em
  a
    color #000000
    h3
      display inline-block
      text-align left
      span
        text-decoration underline
  small
    font-size 0.5em
    font-weight normal
  img
    float left
    margin 0 1em 0 0
    border-radius 0.5em
    width 200px
    height 130px
  .blueLink
    color #0000ff

.singleNews
  form
    textarea
      display block
      width 800px
      height 100px
    input[type=submit]
      display block
      margin auto
      margin-bottom 2em

