ul
  list-style none
  padding 0
li, .singleNews
  overflow hidden
  a
    color #000000
    h3
      display inline-block
      text-align left
      span
        text-decoration underline
  small
    font-size 0.5em
    font-weight normal
  img
    float left
    margin 0 1em 1em 0
    border-radius 0.5em
    width 190px
    height 160px
  .blueLink
    color #0000ff

.singleNews
  form
    textarea
      display block
      width 800px
      height 100px
    input[type=submit]
      display block
      margin auto
      margin-bottom 2em

