h2, h3 {
    text-align: center;
}
p {
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    color: #222222;
    text-align: justify;
}
#images {
    text-align: center;
}
#images img {
    margin: 0 2em;
}
#images img:hover {
    cursor:pointer;
}
article section{
    display: none;
    border: 1px #6495ed solid;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 0 0 10px 0;
    background: #f0f8ff;
}
#section4{
    text-align: center;
}
#section4 input[type="text"]{
    font-size: 3em;
}
#section4 div{
    font-size: 1.5em;
}
#section6{
    text-align: center;
}
#section6 input[type="text"]{
    font-size: 3em;
}
#section6 div{
    font-size: 1.5em;
    text-align: left;
    padding-left: 3.1em;
}
