p {
    text-indent: 2pc;
}
#images {
    text-align: center;
}
#images img {
    margin: 0;
}
#images img:hover {
    cursor:pointer;
}

#service_content {
    border: 1px #6495ed solid;
    border-radius: 5px;
    margin-bottom: 10px;
    padding-left: 10px;
    background: #f0f8ff;
}
article section{
    display: none;
    overflow: hidden;
}
#default{
    display: block;
}
#select_sborni_gruz_from, #select_sborni_gruz_to{
    font-size: 2em;
    display: block;
    margin: 1em auto;
}